adafruit-blinka
adafruit-circuitpython-bmp3xx
adafruit-circuitpython-gps
adafruit-circuitpython-mpu6050
adafruit-circuitpython-max1704x
openmeteo-requests
requests
RPi.GPIO
numpy
plotly
sx126x
eventlet
flask
flask-socketio
python-dotenv
