body {
	margin: 0;
	padding: 0;
}

.charts-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 100vh;
}

.charts-grid > div {
	position: relative;
}

canvas {
	width: 100% !important;
	height: 100% !important;
}
