<!DOCTYPE html>
<html lang="es">
<head>
  	<meta charset="UTF-8">
  	<title>GuazaSat</title>
  	<!-- Chart.js -->
  	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/date-fns"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
  	<!-- ApexCharts -->
  	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  	<!-- Socket.IO -->
  	<script src="https://cdn.socket.io/4.8.3/socket.io.min.js" integrity="sha384-kzavj5fiMwLKzzD1f8S7TeoVIEi7uKHvbTA3ueZkrzYq75pNQUiUi6Dy98Q3fxb0" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.183.2/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.183.2/examples/jsm/"
          }
        }
    </script>
</head>
<body>
    <div class="ai-sidebar hide">
        <button class="sidebar-btn" onclick="clearUploads()">
            Eliminar imágenes recopiladas
        </button>
        <button class="sidebar-btn" onclick="analyseAll()">
            Analizar todas las imágenes recopiladas
        </button>
        <button class="sidebar-btn" onclick="analyseCurrentImage()">
            Analizar imagen actual
        </button>
        <div id="ai-img" class="ai-img-container">
            <!-- <div class="btn-background">
                <button onclick="" class="action-btn-ai primary">
                        Analizar imagen
                </button>
            </div> -->
        </div>
    </div>
    <div id="ai" class="main-content hide">
        <div class="ai-wrapper">
            <div class="ai-card">
                <div class="ai-warning">
                    <p>Ninguna imagen se está analizando<br> ahora mismo</p>
                </div>
                <div class="ai-gallery"></div>
                <div class="ai-loader-container">
                    <div class="ai-text-container hide">
                        <h2>RESULTADO DEL ANÁLISIS:</h2>
                        <p id="ai-result"></p>
                    </div>
                    <div id="ai-loader" class="ai-loader hide">
                        <div class="loader small">
                            <div></div><div></div><div></div><div></div>
                            <div></div><div></div><div></div><div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div id="cansat-charts" class="main-content charts-grid">
        <div id="chart_a"></div>
        <div id="chart_t"></div>
        <div id="chart_p"></div>
		<div id="chart_pa"></div>
	</div>
    <div id="ground-charts" class="main-content charts-grid hide">
        <div id="chart_aq"></div>
        <div id="chart_t_g"></div>
        <div id="chart_h"></div>
    </div>
    <div id="backup-charts" class="main-content charts-grid hide">
        <div id="chart_a_b"></div>
        <div id="chart_t_b"></div>
        <div id="chart_p_b"></div>
        <div id="chart_pa_b"></div>
    </div>
    <div id="backup-config" class="main-content hide">
        <div class="backup-wrapper">
            <div class="backup-card">
                <div class="backup-header">
                    <h2>RECUPERACIÓN DE REGISTROS</h2>
                    <p>
                        Extracción remota de datos del sistema embarcado mediante conexión segura y procesamiento local para la generación de visualizaciones analíticas.

                        El sistema se conecta al CanSat dentro de la misma red y accede a los registros almacenados durante la misión. Estos datos incluyen información de telemetría y estado del sistema, recogida a lo largo del vuelo.

                        Una vez transferidos, los datos se procesan localmente para organizarlos y convertirlos en gráficos claros y útiles. Esto permite entender mejor cómo se ha comportado el sistema en distintos momentos.

                        Puedes seleccionar un intervalo concreto para centrar el análisis en una fase específica, o procesar todos los datos disponibles para obtener una visión completa de la misión.
                    </p>
                </div>
                <div class="backup-flow">
                    <div class="time-block start">
                        <div class="block-label">Inicio</div>

                        <div class="time-controls">
                            <input type="date" id="start-date">
                            <input type="time" id="start-time" value="00:00">
                        </div>
                    </div>
                    <div class="flow-line">
                        <div class="flow-dot"></div>
                    </div>
                    <div class="time-block end">
                        <div class="block-label">Fin</div>

                        <div class="time-controls">
                            <input type="date" id="end-date">
                            <input type="time" id="end-time" value="00:00">
                        </div>
                    </div>
                </div>
                <div class="backup-actions">
                    <button onclick="generateInterval()" class="action-btn primary">
                        Generar análisis en intervalo
                    </button>

                    <button onclick="generateFull()" class="action-btn primary">
                        Procesar registro completo
                    </button>
                </div>
            </div>
            <div id="backup-loader" class="backup-loader hide">
                <div class="loader small">
                    <div></div><div></div><div></div><div></div>
                    <div></div><div></div><div></div><div></div>
                </div>
            </div>
        </div>
    </div>
    <div id="map-view" class="main-content hide">
        <div id="map-canvas"></div>
    </div>
    <div class="sidebar">
        <button id="ai-btn" class="sidebar-btn" onclick="handleSidebarAction(this)">
            Analizar imágenes con IA
        </button>
        <button id="cansat-charts-btn" class="sidebar-btn active" onclick="handleSidebarAction(this)">
            Mostrar gráficos del CanSat
        </button>
        <button id="ground-charts-btn" class="sidebar-btn" onclick="handleSidebarAction(this)">
            Mostrar gráficos de la estación de tierra
        </button>
        <button id="backup-btn" class="sidebar-btn" onclick="handleSidebarAction(this)">
            Generar gráficos a partir de una copia de seguridad
        </button>
        <button id="map-btn" class="sidebar-btn" onclick="handleSidebarAction(this)">
            Seguir al CanSat en tiempo real
        </button>
        <div id="viewer" class="sidebar-gyro-visualization">
            <p class="battery-indicator"></p>
        </div>
    </div>
    <div class="loader-container">
        <div class="center">
            <div class="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <script>
        window.APP_CONFIG = {
            local_url: {{ local_url | tojson  }}
        };
    </script>
    <script type="module" src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/3D_visualization.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/backup.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/AI.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key={{ google_maps_api_key }}"></script>
</body>
</html>
